<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration>
    <appender name="file" class="org.apache.log4j.FileAppender">
        <param name="File" value="C:/eclipse.352/workspace/domain/log/domain.log" />
        <layout class="org.apache.log4j.PatternLayout">
        <!-- param name="ConversionPattern" value="[%d{ISO8601}][%-25.25t][%-5.5p][%-60.60c][%m]%n" / -->
            <param name="ConversionPattern" value="%d{HH:mm:ss,SSS}|%-25.25t|%.1p|%c{2}|%m%n" />
            
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="TRACE" />
            <param name="LevelMax" value="FATAL" />
        </filter>
    </appender>
    <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out" />
        <layout class="org.apache.log4j.PatternLayout">
        <!-- param name="ConversionPattern" value="[%d{ISO8601}][%-25.25t][%-5.5p][%m][%c][%F:%L]%n" / -->
        <!-- param name="ConversionPattern" value="%d{HH:mm:ss,SSS}|%-4.4t|%.1p|%c{2}|%m|%F:%L%n" / -->
        <param name="ConversionPattern" value="%d{HH:mm:ss,SSS}|%-25.25t|%.1p|%c|%m|%F:%L%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="DEBUG" />
            <param name="LevelMax" value="FATAL" />
        </filter>
    </appender>

    <logger name="org.apache.commons"><level value="WARN" /></logger>
    <logger name="httpclient.wire"><level value="WARN"/></logger>
    <logger name="com.ibatis"><level value="WARN"/></logger>
    <logger name="java.sql"><level value="WARN"/></logger>

    <logger name="org.apache.catalina"><level value="WARN" /></logger>
    <logger name="org.apache.jasper"><level value="WARN" /></logger>
    <logger name="org.hibernate"><level value="WARN" /></logger>
    <logger name="com.mchange.v2"><level value="WARN" /></logger>
    <logger name="net.sf.ehcache"><level value="INFO" /></logger>
    <logger name="com.gmsxo.domains"><level value="TRACE" /></logger>
    <logger name="org.hibernate.engine.jdbc.spi.SqlExceptionHelper"><level value="OFF" /></logger>
    <logger name="org.hibernate.engine.jdbc.batch.internal.BatchingBatch"><level value="OFF" /></logger>
    
    
    
    
    
    

	<logger name="org.apache.axis2"><level value="FATAL" /></logger>
	<logger name="org.apache.axis2.enterprise"><level value="FATAL" /></logger>
	<logger name="org.apache.axiom"><level value="FATAL" /></logger>
	<logger name="de.hunsicker.jalopy.io"><level value="FATAL" /></logger>
	<logger name="httpclient.wire.header"><level value="WARN" /></logger>
	<logger name="org.apache.commons.httpclient"><level value="FATAL" /></logger>
	<logger name="org.jboss.logging"><level value="WARN" /></logger>
	


    <logger name="com.xgames.gatewayclientlight"><level value="DEBUG" /></logger>

    <root>
        <priority value="TRACE" />
        <appender-ref ref="file" />
        <appender-ref ref="stdout" />
    </root>
</log4j:configuration>
